!!! 5
%html
  %head
    / %script{:type => "text/javascript", :src => "/scripts/draggable.js"}
    %link{:rel => "stylesheet", :href => "/styles/main.css", :type => "text/css"}

  %body.index
    .explain Drop here
    .open
      %button{:type => "button"} Or open...
