!!! 5
%html
  %head
    / %script{:type => "text/javascript", :src => "/scripts/draggable.js"}
    %script{:type => "text/javascript", :src => "scripts/jquery-1.7.2.min.js"}
    %script{:type => "text/javascript", :src => "/scripts/presents.js"}
    %link{:rel => "stylesheet", :href => "/styles/main.css", :type => "text/css"}

  %body.index
    .explain Drop here
    .open
      / %button{:type => "button"} Or open...
      %label{:for => "path"} Or type in a path:
      %input#path{:type => "text", :name => "path"}
      %span and share it with someone:
      %input#recipient{:type => "text", :name => "recipient"}
      %button#open{:type => "button"} Go
