html {
    height: 100%;
}

body.index {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E4E7ED;
    background-image: url(../images/drag-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 170px 170px;
}

.explain {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -170px;
    font-size: 3.2em;
    font-family: Helvetica;
    text-align: center;
    -webkit-user-select: none;
    cursor: default;
}

.open {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 120px;
    text-align: center;
}

.transfers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background-color: #ccc;
}
